---
import { ToastContainer } from 'react-toastify';
import 'react-toastify/dist/ReactToastify.css';
//
import MiLayout from '../../layouts/MiLayout.astro'
import imagen from '../../images/colorado.jpeg'
import Button from '../../components/Button.jsx'
const post = await Astro.glob('./post/*.md')
// console.log(Button)
---
<MiLayout title='blog'>
  <h1>Blog</h1>
  <!-- <img height="200px" src="https://images.pexels.com/photos/15976900/pexels-photo-15976900/free-photo-of-primavera-hojas-flor-cerrado.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt='imagen' />
  <img height ='200px' src="./trigo.webp" alt="trigo image">
  <img height='200px' src={imagen} alt="imagen de colorado"> -->
  {
    post.map(post => (
      <a href={post.url}>{post.frontmatter.title}</a>
      ))
    }
    <!-- se carga cuando el componente sea visible -->
  <Button client:visible>Este es el boton</Button> 
  <ToastContainer client:load />
</MiLayout>
<style>
  a{
    text-decoration: none;
    color: rgb(238, 32, 238);
    display: block;
    background-color: rgb(169, 184, 184);
    width: max-content;
    margin: 4px;
  }
</style>