---
import background from '../images/colorado.jpeg'
interface Props {
  title?: string;
}
const {title} = Astro.props
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
</head>
<body>
  <slot />
</body>
</html>
<style is:global define:vars={{background}}>
  body{
		background-image:url(../images/colorado.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eee;
	}
</style>